<!DOCTYPE html>
<html lang="en" style="cursor: url(https://dl.dropboxusercontent.com/s/qmfm8dd4aiynent/unicorn%20cursor.png?dl=0), auto;">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://icons.iconseeker.com/ico/turtles---teenage-mutant-ninja/donatelo.ico">
    <title>Khushi Baby</title>
    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="">Khushi Baby's First Webpage</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/sendSms">Want to send a text?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape">Scraped</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Pages</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="tasha">Tasha</a>
                        <a class="dropdown-item" href="/sendSms">Gabriel</a>
                        <a class="dropdown-item" href="william">William</a>
                        <a class="dropdown-item" href="henry">Henry</a>
                        <a class="dropdown-item" href="katherine">Katherine</a>
                        <a class="dropdown-item" href="neha">Neha</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-10">
                    <div class="my-auto" style="height: 550px; z-index: 110;">
                        <p style="align-self: center;">
                             <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Welcome!
                            </a>
                        </p>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <img src="https://media.giphy.com/media/wAVA7WdV2jita/giphy.gif" class="card-img-top" alt="Card image cap" style="width:100%">
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="z-index: 100;">
                <h1>Khushi Baby says...</h1>
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">Grateful for <a href="https://twitter.com/gavi?ref_src=twsrc%5Etfw">@gavi</a> for empowering our mission to go the extra mile to bring vaccinations to the last mile. It takes a village to make change <a href="https://t.co/f24Xbv2BuG">https://t.co/f24Xbv2BuG</a>
                    </p>&mdash; Khushi Baby (@teamkhushibaby) <a href="https://twitter.com/teamkhushibaby/status/923593367610634241?ref_src=twsrc%5Etfw">October 26, 2017</a>
                </blockquote> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript 
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<style>
body {
    padding-top: 5rem;
}
title {
    text-align: center;
}

</style>

</html>
