<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://icons.iconseeker.com/ico/turtles---teenage-mutant-ninja/donatelo.ico">
    <title>test</title>
    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/sendSms">Khushi Baby's First Webpage</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="modal.html">Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Scraped</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="tasha">Tasha</a>
                        <a class="dropdown-item" href="gabriel">Gabriel</a>
                        <a class="dropdown-item" href="william">William</a>
                        <a class="dropdown-item" href="henry">Henry</a>
                        <a class="dropdown-item" href="katherine">Katherine</a>
                        <a class="dropdown-item" href="neha">Neha</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="starter-template">
            <h1>test2</h1>
            <p class="lead"> cursor!!
                <br> icon, links, drop links, filler</p>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Click me!
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <img src="https://media.giphy.com/media/l4Jz3a8jO92crUlWM/giphy.gif" class="card-img-top" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<style>
body {
    padding-top: 5rem;
    cursor:url(http://www.verypdf.com/wordpress/wp-content/uploads/2011/11/clip_image00455.jpg);
}
title {
    text-align: center;
}
</style>

</html>
